<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Raspisaniye"
        tools:targetApi="31">
        <activity
            android:name=".GroupActivity"
            android:exported="false" />
        <activity
            android:name=".addgroup"
            android:exported="false" />
        <activity
            android:name=".Zadaniye2Activity"
            android:exported="false" />
        <activity
            android:name=".ZadaniyeActivity"
            android:exported="false" />
        <activity
            android:name=".adminpanel_create"
            android:exported="false" />
        <activity
            android:name=".SecondRs2Activity"
            android:exported="false" />
        <activity
            android:name=".butt"
            android:exported="false" />
        <activity
            android:name=".dz3"
            android:exported="false" />
        <activity
            android:name=".dz2"
            android:exported="false" />
        <activity
            android:name=".adminpanel9"
            android:exported="false" />
        <activity
            android:name=".adminpanel8"
            android:exported="false" />
        <activity
            android:name=".adminpanelCollege"
            android:exported="false" />
        <activity
            android:name=".adminpanel5"
            android:exported="false" />
        <activity
            android:name=".adminpanel4"
            android:exported="false" />
        <activity
            android:name=".adminpanel3"
            android:exported="false" />
        <activity
            android:name=".adminpanelRazdelenie"
            android:exported="false" />
        <activity
            android:name=".adminpanelPassword"
            android:exported="false" />
        <activity
            android:name=".Secondr"
            android:exported="false" />
        <activity
            android:name=".Privet"
            android:exported="false" />
        <activity
            android:name=".dz"
            android:exported="false" />
        <activity
            android:name=".Obuchenie"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Mainr"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>